<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header">
      Categories
    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let i of categories">
          <a href="javascript:" [routerLink]="['/language/record', i.id]">{{i.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <span>Your list</span>
      <span style="float: right">
        <button class="btn btn-info btn-sm" [routerLink]="['/language/create']">Create your own list</button>
      </span>

    </div>
    <div class="card-body">
      <ul>
        <li *ngFor="let i of records">
          <a href="javascript:" [routerLink]="['/language/record', i]">{{i}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

