<div>
  <app-detail-nav [title]="data?.name"></app-detail-nav>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Spanish</th>
        <th scope="col">English</th>
        <th scope="col">Korean</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of data?.words">
        <th scope="row"></th>
        <td>{{i.esp}}</td>
        <td>{{i.eng}}</td>
        <td>{{i.kor}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
