<div *ngIf="categories">
  <app-detail-nav [title]="'Categories'" (searchEvent)="onSearchEvent($event)"></app-detail-nav>
  <div>
    <ul class="list-group list-group-flush" *ngFor="let i of categories['data'] | paginate:
    { id: 'category', itemsPerPage: page.ITEMS_PER_PAGE, currentPage: page.CURRENT_PAGE,
     totalItems: page.TOTAL_ITEMS}">
      <li class="list-group-item"><a href="javascript:" (click)="onClickCategory(i.id)">{{i.name}}</a></li>
    </ul>
  </div>
  <pagination-controls id="category" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
