<div *ngIf="categories">
  <app-detail-nav [title]="'Categories'"></app-detail-nav>
  <div>
    <ul class="list-group list-group-flush" *ngFor="let i of categories['data'] | paginate:
    { id: 'category', itemsPerPage: categories['page']['items_per_page'], currentPage: categories['page']['current_page'],
     totalItems: categories['page']['total_items']}">
      <li class="list-group-item"><a href="javascript:" (click)="onClickCategory(i.id)">{{i.name}}</a></li>
    </ul>
  </div>
  <pagination-controls id="category" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
