<form [formGroup]="recordTable">
  <table class="table table-border">
    <thead class="text-nowrap">
    <th>English</th>
    <th>Korean</th>
    <th>Spanish</th>
    <th>delete?</th>
    </thead>
    <tbody>
    <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls?.controls ; let i=index">
      <tr [formGroupName]="i">
        <td>
          <mat-form-field>
            <input matInput type="text" formControlName="eng">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text"  formControlName="kor">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="text" formControlName="esp">
          </mat-form-field>
        </td>
        <td>
          <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
        </td>
      </tr>

    </ng-container>
    </tbody>
  </table>
  <div class="action-container">
    <button class="btn btn-info" (click)="addRow()">Add row</button>
    <button class="btn btn-info" mat-raised-button [disabled]="recordTable.invalid" type="submit" (click)="submitForm()">Submit</button>
  </div>
</form>

