<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="javascript:" [routerLink]="'/'">Random Apps by Paige S2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/questions">Polls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/language">Language</a>
      </li>
    </ul>
    <span class="navbar-text">
      <!--User name / login-->
      <ng-container *ngIf="!isLoggedIn(); else loggedin">
        <a href="javascript:" [routerLink]="'/user/login'">Login</a>
      </ng-container>
      <ng-template #loggedin>
        <li class="nav-item dropdown" style="display: block; color:black">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
          <a class="dropdown-item" href="#javascript:" style=" color:black" (click)="onClickLogout()">Logout</a>
          <div class="dropdown-divider" style=" color:black"></div>
          <a class="dropdown-item" href="#" style=" color:black">Something else here</a>
        </div>
      </li>
      </ng-template>

    </span>
  </div>
</nav>
