<div class="container-fluid">
  <h2>Sign in to Paige Random Apps!</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
    <div class="form-group row">
      <label for="email" class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-4">
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
    </div>

    <div class="form-group row">
      <label for="password" class="col-sm-1 col-form-label">Password</label>
      <div class="col-sm-4">
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>

  </form>
</div>
